@font-face {
    font-family: 'CMU Serif';
    src: url('fonts/cmunrm.eot');
    src: url('fonts/cmunrm.eot?#iefix') format('embedded-opentype'),
         url('fonts/cmunrm.woff2') format('woff2'),
         url('fonts/cmunrm.woff') format('woff'),
         url('fonts/cmunrm.ttf')  format('truetype'),
         url('fonts/cmunrm.svg#CMU Serif') format('svg');
}